alembic==1.8.1
aniso8601==7.0.0
anyio==3.6.1
ariadne==0.15.1
asgiref==3.5.2
async-generator==1.10
attrs==22.1.0
autopep8==1.6.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
cryptography==37.0.4
distlib==0.3.5
Django==4.0.6
django-cors-headers==3.13.0
django-graphiql==0.4.4
djangorestframework==3.13.1
environ==1.0
et-xmlfile==1.1.0
exceptiongroup==1.1.0
fastapi==0.79.0
filelock==3.7.1
Flask==2.2.0
flask-expects-json==1.7.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
graphene==2.1.9
graphene-django==2.15.0
graphql-core==3.2.1
graphql-relay==2.0.1
greenlet==1.1.2
h11==0.13.0
httptools==0.4.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.9.1
jwt==1.3.1
Mako==1.2.1
MarkupSafe==2.1.1
mypy==0.991
mypy-extensions==0.4.3
mysqlclient==2.1.1
numpy==1.24.1
openai==0.25.0
openpyxl==3.0.10
outcome==1.2.0
packaging==23.0
pandas==1.5.2
pandas-stubs==1.5.2.221213
Pillow==9.2.0
platformdirs==2.5.2
promise==2.3
psycopg2==2.9.3
pycodestyle==2.9.0
pycparser==2.21
pydantic==1.9.1
Pygments==2.13.0
PyJWT==2.4.0
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-multipart==0.0.5
pytz==2022.1
PyYAML==6.0
requests==2.28.1
Rx==1.6.1
selenium==4.7.2
singledispatch==3.7.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.39
sqlparse==0.4.2
starlette==0.19.1
strawberry-graphql==0.131.1
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
types-pytz==2022.7.0.0
typing_extensions==4.3.0
tzdata==2022.1
urllib3==1.26.13
uvicorn==0.18.2
virtualenv==20.16.2
watchfiles==0.16.1
webdriver-manager==3.8.5
websockets==10.3
Werkzeug==2.2.1
wsproto==1.2.0
WTForms==3.0.1
